.perfomer {
    width: 105px;
    height: 25px;
    background: #CEECFF;
    border-radius: 4px;
}
.text-custom{
    color: #575757;
}
@media (max-width: 575.98px) {
    .btn-custom-sm{
        height: "40px";
        width: "110px";
    }
}